# NOTE: When inserting the following information, there should be no *'s remaining.
# i.e. It should be: DISCORD_BOT_TOKEN = My Token   Not: DISCORD_BOT_TOKEN = *My token*

DISCORD_BOT_TOKEN = *Insert here*

MONGO_DB_PASSWORD = *Insert here*
MONGO_DB_USERNAME = *Insert here*

LAVA_LINK = *Insert here*
LAVA_PASSWORD = *Insert here*

MONGO_URI= *Insert here*